<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button *ngIf="this.platform.checkIsMobile();"></ion-back-button>
        </ion-buttons>
        <ion-title>Iniciar Sesión</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email" id="defaultLoginFormEmail"  [(ngModel)]="loginEmail" required #email> </ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type={{inputType}} id="defaultLoginFormPassword" [(ngModel)]="loginPassword" required #password></ion-input>
        <ion-button *ngIf="inputType == 'text'" fill="clear" slot="end" (click)='showHide()' style="height:32px;">
            <ion-icon name="eye-off" style="font-size:32px;"></ion-icon>
        </ion-button>
        <ion-button *ngIf="inputType != 'text'" fill="clear" slot="end" (click)='showHide()' style="height:32px;">
            <ion-icon name="eye" style="font-size:32px;"></ion-icon>
        </ion-button>
    </ion-item>

    <ion-button expand="full" color="primary" style="text-transform: none;" type="submit" value="Acceder" (click)="login()">Acceder</ion-button>

    <!-- Register -->
    <ion-item lines="none">
        <p style="font-size:12pt;">¿No tienes cuenta?
            <span style="color: #2365db;" (click)="openRegister()">Únete</span>
        </p>
    </ion-item>
</ion-content>
