<!--
  Generated template for the ReservationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
        <ion-title>{{displayName}}</ion-title>
    </ion-list-header>
    <ion-img src="https://evbox.com/assets/images/products/elvi-chargers.png" width="170px" height="310px"></ion-img>
    <ion-label><b>Tipo de cargador:</b> {{chargerType}}</ion-label>
    <ion-label *ngIf="!showCost"><b>Servicio Gratuito</b></ion-label>
    <ion-label *ngIf="showCost"><b>Precio: </b>{{cost}} RD$/{{costType}} </ion-label>
    <!-- <ion-label><b>Potencia:</b> {{potency}}</ion-label> -->
    <ion-label>Día de Reserva</ion-label>
    <ion-item>
      <ion-datetime displayFormat="MMM DD" placeholder="Día" [(ngModel)]="dateSlot"></ion-datetime>
    </ion-item>
    <ion-label>Horario de Reserva</ion-label>
    <ion-item>
      
      <ion-datetime displayFormat="h:mm A" placeholder="Horario de Inicio" pickerFormat="h mm A" [(ngModel)]="initTimeSlot"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-datetime displayFormat="h:mm A" placeholder="Horario de Fin" pickerFormat="h mm A" [(ngModel)]="endTimeSlot"></ion-datetime>
    </ion-item>

    <ion-button expand="full" color="primary" (click)="reserve()">Hacer Reserva</ion-button>
  </ion-list>
  

</ion-content>
